/*!
Theme Name: La Terre Ferme
Theme URI: http://laterreferme.net/
Author: https://morgane2231.gitlab.io/cv_portfolio/ ; https://maxlefort35.gitlab.io/portfolio-ml/
Author URI: Maxime Lefort, Morgane Vergonjeanne , Rony Lebailly
Description: Ce thème à était fait sur mesure à destination des propriètaire de la Terre Ferme à Saint-Lunaire
Version: 1.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: la-terre-ferme
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

La Terre Ferme is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	margin: 0;
	
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
	width: 100%;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
	
}
/*
*,
*:before,
*:after {
	Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ 
	box-sizing: inherit;
}*/

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color:#FFBA08;;
	border: 0;
	border-radius: 5px;
	height: 3px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	/*max-width: 100%;
	/* Adhere to container width. */
}

/*figure {
	
	/* Extra wide images within figure tags don't overflow the content area. */
table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #004445;
}

a:visited {
	color: none;
}


a:hover, a:focus, a:active {
	color: #FFBA08;
}

a:focus {
	outline: thin dotted;
}


a:hover, a:active {
	outline: 0;
	

}


/*--------------------------------------------------------------
## Menus

Copyright (c) 2020 by emre (https://codepen.io/emredenx/pen/ojcxl)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

--------------------------------------------------------------*/

nav{

	position:relative;
	margin:0 auto;
	width: 100%;

}


#site-navigation,#site-navigation ul,#site-navigation ul li,#site-navigation ul li a,
#site-navigation #head-mobile{

	
	border:0;
	list-style:none;
	line-height:1;
	display:flex;
	position:relative;
	justify-content: center;
	padding-left: 0px;
	margin-left:0px;
	margin-bottom: 0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;

}
.sub-menu{
	top:56px;
	flex-direction: column;
	z-index: 1;
}

#site-navigation:after,#site-navigation > ul:after{
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0
	
}
#site-navigation #head-mobile{
	display:none
}
#site-navigation{
	background: #004445;
}
#site-navigation > ul > li{
	text-align: center;
	
	
	
}
#site-navigation > ul > li > a{
	padding:20px;
	letter-spacing:1px;
	text-decoration:none;
	color:#FAfafa;
	font-weight:700;
	
	
}
	
#site-navigation > ul > li:hover > a,
#site-navigation ul li.active a{
	color:#FFBA08;
}


/*-------------------------- GESTION DU + ------------------------*/


#site-navigation > ul > li.has-sub > a{
	padding-right:30px;
}
#site-navigation > ul > li.has-sub > a:after{
	position:absolute;
	top:28px;
	right:11px;
	width:8px;
	height:2px;
	display:block;
	background:#FAfafa;
	content:'';
}
#site-navigation > ul > li.has-sub > a:before{
	position:absolute;
	top:25px;
	right:14px;
	display:block;
	width:2px;
	height:8px;
	background:#FAfafa;
	content:'';
	-webkit-transition:all .25s ease;
	-ms-transition:all .25s ease;
	transition:all .25s ease
}

#site-navigation > ul > li.has-sub:hover > a:before{
	align-content: row;
	top:23px;
	height:0
}

/*-------------------------- GESTION DU SOUS MENU ------------------------*/

#site-navigation ul ul{
	position:absolute;
	left:-9999px;
}
#site-navigation ul ul li{
	height:0;
	-webkit-transition:all .25s ease;
	-ms-transition:all .25s ease;
	background:white;
	transition:all .25s ease;
}
/*#site-navigation ul ul li:hover{

}*/
#site-navigation li:hover > ul{
	left:auto;
}
#site-navigation li:hover > ul > li{
	height:35px;
}
#site-navigation ul ul ul{
	margin-left:100%;
	top:0;
}
#site-navigation ul ul li a{
	border-bottom:1px solid rgba(150,150,150,0.15);
	padding:11px 15px;
	width:170px;
	font-size:16px;
	text-decoration:none;
	color:#004445;
	font-weight:400;
	
}
#site-navigation ul ul li:last-child > a,#site-navigation ul ul li.last-item > a{
	border-bottom:0;
}
#site-navigation ul ul li:hover > a,#site-navigation ul ul li a:hover{
	color:#FFBA08;
}

/*-------------------------- GESTION DU + DU SOUS SOUS MENU ------------------------*/

#site-navigation ul ul li.has-sub > a:after{
	position:absolute;
	top:16px;
	right:11px;
	width:8px;
	height:2px;
	display:block;
	background:#004445;
	content:'';
}
#site-navigation ul ul li.has-sub > a:before{
	position:absolute;
	top:13px;
	right:14px;
	display:block;
	width:2px;
	height:8px;
	background:#004445;
	content:'';
	-webkit-transition:all .25s ease;
	-ms-transition:all .25s ease;
	transition:all .25s ease;
}
#site-navigation ul ul > li.has-sub:hover > a:before{
	top:17px;
	height:0;
}
#site-navigation ul ul li.has-sub:hover,
#site-navigation ul li.has-sub ul li.has-sub ul li:hover{
	background:white;
}

/* ------------------ GESTION DES ACTIVE A ----------------------*/

#site-navigation ul ul ul li.active a{
	border-left:1px solid black;
}
#site-navigation > ul > li.has-sub > ul > li.active > a,
#site-navigation > ul ul > li.has-sub > ul > li.active> a{
	box-shadow: 0 1px 3px 0 rgba(255, 0, 0, 0.12), 0 1px 2px 0 rgba(255, 0, 0, 0.24);
}	
/*------------------------ PLACEMENT PANIER --------------------------*/

.panier{
	position: absolute;
	right: 1em;
	padding: 35px 35px 16px 16px;
}


/* -------------------------------------- PASSAGE EN MODE MOBILE ----------------------------*/

@media screen and (max-width:1000px){

	.custom-logo-link {
	height:75px;
	display: flex;
	padding-left: 0%;
	padding-top: 0%;
	justify-content: left;
	width: 100px;
	height: 75px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-right: 0px;
	
	}
	.custom-logo{
		width: 100px;
		height: 75px;
	}
.custom-logo {
	width: 100px;
	height:75px;
}
	nav{
		width:100%;
		
	}
	#site-navigation{
		width:100%;
		background: none;
		
	}
	#site-navigation ul{
		padding-left: 0px;
		margin-left: 0px;
		margin-bottom: 0px;
		width:100%;
		background:white;
		flex-direction: column;
	}
	.sub-menu{
		top: 0px;
	}
	#site-navigation ul li{
		width:100%;
		/*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);*/
		flex-flow: column;
	}
	#site-navigation ul li a{
		color: #004445;
	}
	#site-navigation ul li:hover{
		background:white;
	}
	#site-navigation ul ul li,
	#site-navigation li:hover > ul > li{
		height:auto;
	}
	#site-navigation ul li a,
	#site-navigation ul ul li a{
		width:100%;
		border-bottom:0;
	}
	#site-navigation > ul > li{
		float:none;
	}
	#site-navigation ul ul li a{
		padding-left:25px;
	}
	#site-navigation ul ul li{
		background:white!important;
	}
	#site-navigation ul ul li:hover{
		background:white!important;
	}
	#site-navigation ul ul ul li a{
		padding-left:35px;
	}	
	#site-navigation ul ul li a{
		color:#004445;
		background:none;
	}
	#site-navigation ul ul li:hover > a,
	#site-navigation ul ul li.active > a{
		color:#FFBA08;
	}
	#site-navigation ul ul,#site-navigation ul ul ul{
		position:relative;
		left:0;
		width:100%;
		margin:0;
		text-align:left;
	}
	#site-navigation > ul > li.has-sub > a:after,
	#site-navigation > ul > li.has-sub > a:before,
	#site-navigation ul ul > li.has-sub > a:after,
	#site-navigation ul ul > li.has-sub > a:before{
		display:none;
	}
	#site-navigation #head-mobile{
		display:block;
		padding:0px;
		color:white;
		font-size:12px;
		font-weight:700;
	}
/* ------------------ GESTION DU BURGER ----------------------*/
	.burger{
		width:55px;
		height:46px;
		position:absolute;
		
		right:0;
		top:-70px;
		cursor:pointer;
		z-index: 2;
	}
	.burger:after{
		position:absolute;
		top:22px;
		right:20px;
		display:block;
		height:4px;
		width:20px;
		border-top:2px solid #004445;
		border-bottom:2px solid #004445;
		content:'';
	}
	.burger:before{
		-webkit-transition:all .3s ease;-ms-transition:all .3s ease;
		transition:all .3s ease;
		position:absolute;
		top:16px;
		right:20px;
		display:block;
		height:2px;
		width:20px;
		background:#004445;content:'';
	}
	.burger.menu-opened:after{
		-webkit-transition:all .3s ease;
		-ms-transition:all .3s ease;transition:all .3s ease;top:23px;
		border:0;height:2px;
		width:19px;
		background:#004445;
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-o-transform:rotate(45deg);
		transform:rotate(45deg);
	}
	.burger.menu-opened:before{
		top:23px;
		background:#004445;
		width:19px;
		-webkit-transform:rotate(-45deg);
		-moz-transform:rotate(-45deg);
		-ms-transform:rotate(-45deg);
		-o-transform:rotate(-45deg);
		transform:rotate(-45deg);
	}
/* ------------------ GESTION DU + ----------------------*/
	#site-navigation .submenu-burger{
		position:absolute;
		z-index:99;
		right:0;
		top:0;
		display:block;
		height:46px;width:46px;
		cursor:pointer;
	}
	#site-navigation .submenu-burger.submenu-opened{
		background:none;
	}
	#site-navigation ul ul .submenu-burger{
		height:34px;
		width:34px;
	}
	#site-navigation .submenu-burger:after{
		position:absolute;
		top:28px;
		right:19px;
		width:8px;
		height:2px;
		display:block;
		background:#004445;
		content:'';
	}
	#site-navigation ul ul .submenu-burger:after{
		top:15px;
		right:13px;
	}
	#site-navigation .submenu-burger.submenu-opened:after{
		background:#004445;
	}
	#site-navigation .submenu-burger:before{
		position:absolute;
		top:25px;
		right:22px;
		display:block;
		width:2px;
		height:8px;
		background:#004445;
		content:''
	}
	#site-navigation ul ul .submenu-burger:before{
		top:12px;
		right:16px;
	}
	#site-navigation .submenu-burger.submenu-opened:before{
		display:none;
	}

/* ------------------ GESTION DES ACTIVE A ----------------------*/

	#site-navigation ul ul ul li.active a{
		border-left:none;
	}
	#site-navigation > ul > li.has-sub > ul > li.active > a,
	#site-navigation > ul ul > li.has-sub > ul > li.active > a{
		border-top:none;
	}
}																									

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
	
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
	
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
	
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.copy{
	text-align: center;
	margin-bottom: -10px;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
	
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
	
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Switch du logo */
@media screen and (min-width:1000px){
	.custom-logo-link {
		display: flex;
		padding-left: 0%;
		padding-top: 0%;
		justify-content: center;
		margin-top: 10px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

html{
height:100%;
}

body{
min-height:100%;
position:relative;
}

footer{
position:absolute;
width:100%;
bottom: 0;
}

.content{
	margin: 0 200px 0 200px;
}

.wps-single{
	margin: 20px;
}
.wps-ui-tab{
	display: none;
}

.wpcf7-form-control{
	margin-left: -20px !important;
}

/* Div permettant au contenu de ne pas passer sous le footer */
.push{
	height: 350px;
}

/*----------------------Footer ------------------------*/
/*Placement des colonnes du footer et encadrement*/
footer{
	color: #fafafa;
	font-size: 12px;
	background-color:#2C786C ;
}
.contact{
	display: flex;
	color: #fafafa;
	font-size: 12px;
	background-color:#2C786C ;
	justify-content: center ;
}
footer a{
	color: #fafafa;
}
footer p{
	padding-top: 5px;
}

.colonne_droite{
	padding-top: 20px;
	margin : 10px 40px 5px 25px;	
}
.centr1{
	padding-top: 20px;
	margin : 10px 40px 5px 25px;
}
.centr2{
	padding-top: 20px;
	margin : 10px 40px 5px 25px;
}

/* Colonne de gauche*/
.footer_logo{
	padding-top: 20px;
	padding-right: 150px;
	margin : 10px 70px 5px 25px;
	width: 8%;
}

/* Mise en place et couleur du copyright*/
.copy {
	background-color: #004243;
	color: #fafafa;	
}

/* souligé suppr*/
a{
	text-decoration: none;
}

/* ---- Rotation au survol ---- */
footer a{
	transition-duration: .5s;
}
.alignnone{	
	transition-duration: .5s;
}

footer a :hover{
	transform: rotate(360deg);
}
/* --- fin rotation --- */

.copyp{
	margin:0 0 -25px 0;
	padding: 6px 0 6px 0;
}

[class^="xoo-wsc-icon-"], [class*=" xoo-wsc-icon-"] {
    font-family: 'fontawesome' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*-- Icone panier --*/
.xoo-wsc-icon-basket1::before {
    content: "\f291";
}

/*-- Icone croix --*/
.xoo-wsc-icon-cross::before {
    content: "\f00d";
}
 /* -- Icone de chargemnt --*/
.xoo-wsc-icon-spinner2::before {
    content: "\f110";
}

/* Responsive mobile du footer */
@media screen and (max-width: 600px){
	.push{
		height: 850px;
	}
	footer{
		color: #fafafa;
		font-size: 1em;
		background-color:#2C786C ;
		bottom: -15px;
	}
	footer a{
		width: 100%;
	}
	.centr1{
		display: none;
	}
	.contact{
		display: block;
		color: #fafafa;
		font-size: 0.9em;
		background-color:#2C786C ;
		width: 100%;
	}
	.copy {
		background-color: #004243;
		color: #faf5e5;	
	}
	.footer_logo{
		width: 100%;
		margin:0;
		margin-top: 15px;
		text-align: center;
		padding: 0;
	}
	.colonne_droite{
		width: 100%;
		margin:0;
		text-align: center;
		padding-top: 0;
	}
	.centr2{
		width: 100%;
		margin:0;
		text-align: center;
		padding-top: 0;
	}
	.copyp{
		margin:0 0 0px 0;
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: #004243;
	}
	.centr2  p{
		margin: 0;
	}
	.widgettitle {
		margin: 20px 0 5px 0;
	}
}

/* Responsive tablette - de 1024px du footer */
@media only screen and (min-device-width : 600px) and (max-device-width : 1024px) {
	.footer_logo{
		padding-right: 0;
	}
}


/*-------------------------- article ------------------------*/
.vitrine{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
@media screen and (max-width:1100px){
	.vitrine{
		flex-direction: column;
	}
	.actu{
		width: 80% !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.miniature{
		overflow: hidden;
		position: relative;
	}
	.post-thumbnail{
		height: auto !important;
		margin: auto !important;
	}
}
@media screen and (min-width:1100px){
	.miniature{
		overflow: hidden;
		position: relative;
	}
}
@media screen and (max-width: 1000px){
	.entry-actu a{
		width: 100%;
		margin-bottom: 25px;
		}
	}
@media screen and (max-width: 1000px){
		.wp-block-media-text{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
.actu{
	display: flex;
	flex-direction: column;
	padding: 30px;
	background-color: #f4f3f3;
	border: none;
	border-radius: 10px;
	color: #004445;
	width: 40%;
    margin: auto;
    margin-top: 30px;
	height: 800px;
}
.entree-article{
	display: flex;
	flex-direction: column;
	padding: 30px;
	background-color: #f4f3f3;
	border: none;
	border-radius: 10px;
	color: #004445;
	width: 80%;
    margin: auto;
	margin-top: 30px;
	
}
.postview{
	order: 1;
	margin: 0px;
}
.date-header{
	margin-bottom: 0px;
}
.titre{
	margin-top: 0px;
}

.miniature{
	display: flex;
	justify-content: center;
	order: 2;
	margin: 0px;
	flex-grow: 2;
	
}
@media screen and (min-width:800px){
	.miniature{
		height: 400px;
		overflow: hidden;
		position: relative;
	}
}

.post-thumbnail img{
	width: 800px;
}
.flex{
	order: 3;
}
.wpulike {
	display: flex;
	flex-grow: 2;
	flex-direction: row-reverse;
}
.views{
	
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
}
.entry-actu{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.entry-content a{
	flex-grow: 2;
	flex-wrap: wrap;
	
}
@media screen and (max-width: 1000px){
.entry-actu a{
	width: 100%;
	margin-bottom: 25px;
}
}

.contenue-article  {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.wp-block-image{
	display: flex;
	justify-content: center;
	flex-grow: 2;
	flex-wrap: wrap;
	width: 100%;
}
.wp-block-image figcaption{
	justify-content: center;
	display: flex;
	width: 100%;
}
.gallery-item figcaption{
	padding: 40px 0px 0px !important;
}
.wp-block-gallery{
	display: flex !important;
	flex-grow: 2;
	justify-content: center;
	width: 100%;
}
.blocks-gallery-grid{
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 40px;
	margin-right: 40px;
	width: 100% !important;
}
.wp-block-media-text{
width: 100%;
}

@media screen and (max-width: 1000px){
	.wp-block-media-text{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
}
.nav-links {
	display: flex;
	justify-content: center;
	margin: 30px;
	
}
.nav-links nav-previous {
	margin-right: 20px;
}

.nav-links span{
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
	border:5px solid rgba(150,150,150,0.15);
	background-color: #f4f3f3;
	border: none;
	border-radius: 5px;
	color: #004445;
}

.nav-links .page-numbers{
	padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
	border:5px solid rgba(150,150,150,0.15);
	background-color: #f4f3f3;
	border: none;
	border-radius: 5px;
	color: #004445;
	
}

/*------- WooCommerce Page "fiche produit" ---------*/


.woocommerce .woocommerce-result-count{
	display:none;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
	background-color: #004445;
	color:#FAF5E4; 
}

.woocommerce h1{
	color: #004445;
	text-align: center;
}
.woocommerce div.product .woocommerce-tabs .panel{
	margin-left: 10px;
	margin-right: 10px;
}
@media screen and (max-width: 768px){
.woocommerce-page div.product div.summary{
	width: auto!important;
}
}
.related products{
	margin-left: 10px;
	margin-right: 10px;
}
/*-------- Woocommerce Page "Nos produits" --------------*/
.woocommerce div.product div.images img{
	border-radius: 10px;
	margin: 50px 80px;
	width: 400px;
	height:300px;
}

.woocommerce ul.products li.product a img{
	border-radius:10px;
}

.woocommerce .products ul, .woocommerce ul.products{
	margin-left: 30px;
	margin-right:30px;
	margin-top: 150px;
}

.woocommerce ul.products li.product .button{
	background-color: #004445;
	color:#FAF5E4;
}

.woocommerce .woocommerce-ordering select{
	margin-right:500px;
}
.blocks-gallery-grid{
	width:250px;
}
.woocommerce ul.products li.product .price {
    color: #2C786C;
}
.woocommerce .woocommerce-breadcrumb{
    display:none;
}
